footer.footer
  .container
    span
      |Copyright © 1997-2015 Rakuten, Inc. All Rights Reserved.
    a#backtotop.backtotop.glyphicon.glyphicon-play-circle(href="#pagetop")
include _script2
</body>
</html>
