doctype html
html.no-js
  head
    meta(charset='UTF-8')
    title
    // build:css /css/app.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/lightgallery/light-gallery/css/lightGallery.css')
    // endbower
    link(rel='stylesheet', href='/bower_components/owlcarousel/owl-carousel/owl.carousel.css')
    link(rel='stylesheet', href='/bower_components/ibox.2.2/skins/lightbox/lightbox.css')
    link(rel='stylesheet', href='/css/main.css')
    // endbuild
    // build:js /js/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
