.container
  .row.news
    .col-md-3.text-center
      | news
    .col-md-9
      ul
        li
          span.date
            | 2015/3/1
          a(href="#")
            | 最新ニュースはテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        li
          span.date
            | 2015/3/1
          a(href="#")
            | 最新ニュースはテキストテキストテキストテキストテキストテキスト
