.carousel-container
  #carousel.owl-carousel.owl-theme
    .item
      span.filter
      img(src="img/bg_img2.png" alt="CPIPについてのイメージ")
      .container
        .video-include
          .video-box.pull-left
            a(href="http://www.youtube.com/watch?v=YYUt1MdJ6TM" rel="ibox" title="YouTube")
              img.video-thumbnails(src="img/dummy01.png" alt="Concrete5についての動画")
              span.glyphicon.glyphicon-play-circle(aria-hidden="true")
          .caption.pull-left
            h1
              | CPIPは直感的に自由な発想でWEBページの構築ができるパッケージサービスです
            p Webの専門の技術や知識が無くても、どんどん新しい情報をあなたのWebサイトに載せられ、運用コストを大幅にカットできます。
            p.pull-right
              a.btn.btn-lg.btn-primary(href="/about/" role="button")
                span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                |&nbsp;詳しくはこちら

    .item
        span.filter
        img(src="img/bg_img2.jpg" alt="CPIP導入のイメージ")
        .container
          .carousel-caption
            h1 CPIPを導入する３つのポイント
            p サイトデザイン、オリジナルのカスタマイズとサーバー・ドメインの最低限3つがあればCPIPを使う事ができます。
            p
              a.btn.btn-lg.btn-primary(href="#" role="button")
                span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                |&nbsp;CPIPの導入について
    .item
      span.filter
      img(src="img/bg_img3.jpg" alt="The Last of us")
      .container
        .carousel-caption
          h1 多彩な機能が使えます
          p デザイン制作の過程から便利な機能、環境を提供するのはもちろん、アンケート、新着情報、お問い合わせフォームなど様々なコンテンツを管理画面から簡単に作成できます。
          p
            a.btn.btn-lg.btn-primary(href="#" role="button")
              span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
              |&nbsp;機能一覧について
    .item
      span.filter
      img(src="img/bg_img4.png" alt="お問い合わせイメージ画像")
      .container
        .carousel-caption
          h1 お気軽にお問い合わせください
          p コストについて、機能についてなど、分からないところがあれば何でも聞いてください。
          p
            a.btn.btn-lg.btn-primary(href="#" role="button")
              span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
              |&nbsp;お問い合わせする

  .owl-controls
    .owl-buttons
      .left-side
        a.prev
          span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
      .right-side
        a.next
          span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
