// build:js /js/app.js
// bower:js
script(src='/bower_components/jquery/dist/jquery.js')
script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
script(src='/bower_components/lightgallery/light-gallery/js/lightGallery.min.js')
script(src='/bower_components/dyframe/dyframe.js')
script(src='/bower_components/jquery-colorbox/jquery.colorbox.js')
// endbower
script(src='js/main.js')
// endbuild
