//script(src='https://code.jquery.com/jquery-1.7.2.min.js')
script(src='http://www.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')
script(src='/bower_components/owlcarousel/owl-carousel/owl.carousel.js')
script(src='/bower_components/ibox.2.2/ibox.js')
script(src='/bower_components/ibox.2.2/ibox.extras.js')
script(src='js/main.js')
