include _head
<body id="about">
include _globalnav2
.wrapper
  .container
    include _breadcrumbs
    .jumbotron
      h1 About CPIP
      p Over a dozen reusable components built to provide iconography, dropdowns, input groups, navigation, alerts, and much more.

    p.lead ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。

  .container
    .row.steps
      .col-md-3.col-sm-6.col-xs-12
        span.base-ttl 誰でも簡単
        p ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。
      .col-md-3.col-sm-6.col-xs-12
        span.base-ttl 直感的にホームページの運営管理が出来る
        p ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。
      .col-md-3.col-sm-6.col-xs-12
        span.base-ttl 手軽で画期的なCMS
        p ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。
      .col-md-3.col-sm-6.col-xs-12
        span.base-ttl コンテンツ・マネージメント・システム
        p ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。
  .container
    h2.page-header About About About
    .row
      .col-md-6.col-xs-12
        img(src="img/bg_img1.jpg" width="100%")
      .col-md-6.col-xs-12
        p.lead ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。
  .container
    h1.base-ttl base-ttlタイトル下線なし
    h2.base-ttl.text-center base-ttl/text-centerタイトル下線なし
    h3.page-header.base-ttl.text-center base-header/base-ttl/text-centerタイトル下線あり
    h4.page-header.base-ttl base-header/base-ttlタイトル下線あり

  .container
      h2.page-header About About About
      .row
        .col-md-4
          .crop-s
            img(src="img/bg_img2.jpg" width="100%")
          h2.h3.center CPIPとは
          p.lead.mincho ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。
        .col-md-4
          .crop-s
            img(src="img/bg_img1.jpg" width="100%")
          h2.h3 CPIPとは
          p.lead.mincho ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。
        .col-md-4
          .crop-s
            img(src="img/bg_img1.jpg" width="100%")
          h2.h3 CPIPとは
          p.lead.mincho ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。

      .row
        .col-md-3.large-img-3
          a(href="#" style="background-image: url(img/bg_img1.jpg);")
            .headline
              h2.h3.slim-ttl.mincho CPIPとは
              p.lead.mincho ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。
        .col-md-3.large-img-3
          a(href="#" style="background-image: url(img/bg_img1.jpg); background-position: 35% 0px;")
            .headline.top
              h2.h3.slim-ttl CPIPとは
              p.lead djfosfjosiajfoadjfosfjosiajfoadjfo
        .col-md-3.large-img-3
          a(href="#" style="background-image: url(img/bg_img1.jpg); background-position: 35% 0px;")
            .headline
              h2.h3.slim-ttl CPIPとは
              p.lead djfosfjosiajfoadjfosfjosiajfoadjfo
        .col-md-3.large-img-3
          a(href="#" style="background-image: url(img/bg_img1.jpg); background-position: 35% 0px;")
            .headline
              h2.h3.slim-ttl CPIPとは
              p.lead djfosfjosiajfoadjfosfjosiajfoadjfo

      .row
        .col-md-4.large-img-4
          a(href="#" style="background-image: url(img/bg_img1.jpg);")
            .headline
              h2.h3.slim-ttl.mincho CPIPとは
              p.lead.mincho ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。
        .col-md-4.large-img-4
          a(href="#" style="background-image: url(img/bg_img1.jpg); background-position: 35% 0px;")
            .headline.top
              h2.h3.slim-ttl CPIPとは
              p.lead djfosfjosiajfoadjfosfjosiajfoadjfo
        .col-md-4.large-img-4
          a(href="#" style="background-image: url(img/bg_img1.jpg); background-position: 35% 0px;")
            .headline
              h2.h3.slim-ttl CPIPとは
              p.lead djfosfjosiajfoadjfosfjosiajfoadjfo

      .row
        .col-md-6.large-img-6
          a(href="#" style="background-image: url(img/bg_img1.jpg); background-position: 35% 0px;")
            .headline
              h2.h3.slim-ttl CPIPとは
              p.lead djfosfjosiajfoadjfosfjosiajfoadjfo
        .col-md-6.large-img-6
          a(href="#" style="background-image: url(img/bg_img1.jpg); background-position: 35% 0px;")
            .headline
              h2.h3.slim-ttl CPIPとは
              p.lead djfosfjosiajfoadjfosfjosiajfoadjfo

      .row
        .col-md-12
          .col-md-4.nopadding
            img(src="img/bg_img1.jpg" width="100%")
          .col-md-8
            h2.slim-ttl CPIPとは
            p.lead djfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoa
      .row
          .col-md-8
            h2 導入のメリット
            p.lead djfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoa
          .col-md-4.nopadding
            img(src="img/bg_img1.jpg" width="100%")
      .row
        .col-md-12
          h2 導入のプロセス
          p.lead djfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoa
          img(src="img/img_process.png" width="100%")
      .row
        .col-md-12
          h2 機能一覧
          p.lead djfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoa
          .col-md-3.col-sm-6.col-xs-12
            h3 機能1
            img(src="img/bg_img1.jpg" width="100%")
          .col-md-3.col-sm-6.col-xs-12
            h3 機能2
            img(src="img/bg_img1.jpg" width="100%")
          .col-md-3.col-sm-6.col-xs-12
            h3 機能3
            img(src="img/bg_img1.jpg" width="100%")
          .col-md-3.col-sm-6.col-xs-12
            h3 機能4
            img(src="img/bg_img1.jpg" width="100%")


    include _iconani

  include _footer
