include _head
<body>
.wrapper
  include _globalnav
  .container.marketing
    .top-buffer-m
      include _breadcrumbs
    .row
      .col-md-12.top-buffer-l(role="main")
        h1 About CPIP
        p Over a dozen reusable components built to provide iconography, dropdowns, input groups, navigation, alerts, and much more.

    .row
      .col-md-12(role="main")
        h2.page-header 機能一覧
        p.lead djfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoa
    .row
      .col-md-6
        a.col-6-box(href="#")
          div.col-6-box-title
            |タイトルタイトル
          img(src="img/bg_img1.jpg")
      .col-md-6
        a.col-6-box(href="#")
          div.col-6-box-title
            |タイトルタイトル
          img(src="img/bg_img1.jpg")
    .row
      .col-md-6
        a.col-6-box(href="#")
          div.col-6-box-title
            |タイトルタイトル
          img(src="img/bg_img1.jpg")
      .col-md-6
        a.col-6-box(href="#")
          div.col-6-box-title
            |タイトルタイトル
          img(src="img/bg_img1.jpg")


    .row
      .col-md-4.nopadding
        img(src="img/bg_img1.jpg" width="100%")
      .col-md-8
        h2 CPIPとは
        p.lead djfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoa
    .row
      .col-md-8
        h2 導入のメリット
        p.lead djfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoa
      .col-md-4.nopadding
        img(src="img/bg_img1.jpg" width="100%")

  fdsaojfosijdfoa

  include _footer

