include _head
<body>
.wrapper
  include _globalnav
  .container.marketing
    include _breadcrumbs
    .row
      .col-md-12(role="main")
        .jumbotron.text-center
          h1 お問い合わせ
          p どんなことでもお気軽にお問い合わせください。

    .row
      .col-xs-8.col-xs-offset-2(role="main")
        h2.page-header 機能一覧
        p.lead djfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoadjfosfjosiajfoa

  fdsaojfosijdfoa

  include _footer
