include _head2
<body>
include _globalnav2

.container
  include _breadcrumbs
  .jumbotron.text-center
    h1 FAQ
    p CPIPサービス全般についてよくある質問集
  .row
    .col-md-12
      .faq-content
        label
          | CPIPについて
        dl.faq
          dt CPIPって何ですか？
          dd CPIPはサイト運用を容易にするためのトータルサービスです。PDCAを見越した迅速なサイト構築に必要なツールが揃っています。主に、concrete5、RFFを活用してサイトを構築します。
          dt Question
          dd Answer
          dt Question
          dd Answer
          dt Question
          dd Answer

      .faq-content
        label
          | concrete5について
        dl.faq
          dt Question
          dd Answer
          dt Question
          dd Answer
          dt Question
          dd Answer
          dt Question
          dd Answer

      .faq-content
        label
          | RFFについて
        dl.faq
          dt Question
          dd Answer
          dt Question
          dd Answer
          dt Question
          dd Answer
          dt Question
          dd Answer


include _footer2

