include _head2
<body id="onecolumn">
include _globalnav2
include _owlcarousel
.container
  .col-md-12
    .row
      .col-md-4.text-center
        img(src="img/ic_cpiplogo.svg")
        h2 CPIPとは
        p.lead CPIPは、ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る手軽で画期的なCMS”Concrete5”と快適な開発環境を提供する”RFF Framework”のトータルパッケージサービスです。
        p
          a.btn.btn-default(href="/about/" role="button")
            span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
            |&nbsp;詳しく見る
      .col-md-4.text-center
        img(src="img/ic_editor.svg")
        h2 サイト運営者の方へ
        p.lead CPIPを使うことでこれまで自分達だけでは編集できなかった領域を自由にできるようになり、更新の手間やコストが抑えられます。更新作業には専門の知識は必要なく、気軽に更新していただけます。
        p
          a.btn.btn-default(href="/about/" role="button")
            span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
            |&nbsp;詳しく見る
      .col-md-4.text-center
        img(src="img/ic_designer.svg")
        h2 サイト開発者の方へ
        p.lead デザイナーには、これまで通り自由にデザインをしていただけます。RFFでの環境設定と、Styling FoundationCSSフレームワークを導入することで、より美しく、効率よく開発できる環境を提供します。
        p
          a.btn.btn-default(href="/about/" role="button")
            span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
            |&nbsp;詳しく見る

    hr

    .row
      .col-md-12
        .col-md-6.nopadding
          img(src="img/dummy01.png" width="100%")
        .col-md-6
          h2 CPIPとは
          p.lead concrete5とは、ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。 市販ホームページ作成ソフトの利便さと、サーバー上でコンテンツを管理するCMSの利点を併せ持っています。
          p
            a.btn.btn-lg.btn-primary(href="/about/" role="button")
            span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
            |&nbsp;機能一覧
    .row
        .col-md-8
          h2 導入のメリット
          p.lead concrete5とは、ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。 市販ホームページ作成ソフトの利便さと、サーバー上でコンテンツを管理するCMSの利点を併せ持っています。
        .col-md-4.nopadding
          img(src="img/bg_img1.jpg" width="100%")
    .row
      .col-md-12
        h2 導入のプロセス
        p.lead concrete5とは、ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。 市販ホームページ作成ソフトの利便さと、サーバー上でコンテンツを管理するCMSの利点を併せ持っています。
        img(src="img/img_process.png" width="100%")
    .row
      .col-md-12
        h2 機能一覧
        p.lead concrete5とは、ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。 市販ホームページ作成ソフトの利便さと、サーバー上でコンテンツを管理するCMSの利点を併せ持っています。
        .col-md-3.text-center
          h3 機能1
          img(src="img/bg_img1.jpg" width="100%")
        .col-md-3.text-center
          h3 機能2
          img(src="img/bg_img1.jpg" width="100%")
        .col-md-3.text-center
          h3 機能3
          img(src="img/bg_img1.jpg" width="100%")
        .col-md-3.text-center
          h3 機能4
          img(src="img/bg_img1.jpg" width="100%")

    .row
      .col-md-12.eyecatch
        h2 まるでブログを書くように手軽にサイトを更新！
        p CPIPで一体何がができるのか、多彩な機能を紹介します
         a.btn.btn-lg.btn-info(href="/about/" role="button")
          span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
          |&nbsp;機能一覧
include _footer2

