include _head
<body>
.wrapper
  include _globalnav
  .container
    .top-buffer-m
      include _breadcrumbs
    .jumbotron
      h1 About CPIP
      p Over a dozen reusable components built to provide iconography, dropdowns, input groups, navigation, alerts, and much more.
  .container
    .row
        .col-md-4
            img(src="img/bg_img2.jpg" width="100%")
        .col-md-4
            img(src="img/bg_img2.jpg" width="100%")
        .col-md-4
            img(src="img/bg_img2.jpg" width="100%")
  .container
    .row
      p ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。
    .row
        .col-md-3
            img(src="img/bg_img2.jpg" width="100%")
        .col-md-3
            img(src="img/bg_img2.jpg" width="100%")
        .col-md-3
            img(src="img/bg_img2.jpg" width="100%")
        .col-md-3
            img(src="img/bg_img2.jpg" width="100%")
    .row
        .col-md-4
            img(src="img/bg_img2.jpg" width="100%")
        .col-md-8
            img(src="img/bg_img2.jpg" width="100%")
    .row
      .col-md-3.large-img-3
        a(href="#" style="background-image: url(img/bg_img1.jpg);")
          .headline
            h2.h3.slim-ttl.mincho CPIPとは
            p.lead.mincho ウェブサーバー上で、誰でも簡単で、しかも直感的にホームページの運営管理が出来る、手軽で画期的なCMS（コンテンツ・マネージメント・システム）です。
      .col-md-3.large-img-3
        a(href="#" style="background-image: url(img/bg_img1.jpg); background-position: 35% 0px;")
          .headline.top
            h2.h3.slim-ttl CPIPとは
            p.lead djfosfjosiajfoadjfosfjosiajfoadjfo
      .col-md-3.large-img-3
        a(href="#" style="background-image: url(img/bg_img1.jpg); background-position: 35% 0px;")
          .headline
            h2.h3.slim-ttl CPIPとは
            p.lead djfosfjosiajfoadjfosfjosiajfoadjfo
      .col-md-3.large-img-3
        a(href="#" style="background-image: url(img/bg_img1.jpg); background-position: 35% 0px;")
          .headline
            h2.h3.slim-ttl CPIPとは
            p.lead djfosfjosiajfoadjfosfjosiajfoadjfo


  include _footer
