include _head2
<body>
include _globalnav2
.container
  include _breadcrumbs
  .page-header
    h1 GORAの場合
     small CPIPを体験したユーザーからの声をご紹介します

  .row
     .col-md-12
        .row
          .col-md-9
            .row
              .col-md-3.nopadding.text-center
                img(src="img/user01.jpg")
              .col-md-9
                .base-ttl 導入のメリット
                .subinfo 浜マイク
                  span.small ディレクター
                p.bottom-buffer-10
                  |楽天GORAの「特別優待券プレゼントキャンペーン」ページはconcrete5化により運用フローの短縮化に成功した一例です。concrete5導入前の更新フローでは、各地域の複数の営業担当者がそれぞれ担当ゴルフ場キャンペーン詳細をエクセルに記入し、編成側の担当者がそれらを取りまとめページを更新していました。concrete5導入後は各地域の営業担当者たちがそれぞれconcrete5に直接更新情報をインプットすることができ、編成側は取りまとめ作業等なしにページの配信のみで更新作業を完了出来るようになりました。ソースを直接編集する手間がかからない分、効率的に記事を量産でき、PC向けのフォームに1度情報をインプットするだけでスマートフォン版htmlも同時に生成されます。そのため、PC向け/SP向けページを別々に運用した場合と比較すると更新時間は2分の1に短縮出来ます。
            hr
            .col-md-12
              .row
                .col-md-4
                  img(src="img/img_GORA.png" width="100%")
                .col-md-4
                  img(src="img/img_GORA.png" width="100%")
                .col-md-4
                  img(src="img/img_GORA.png" width="100%")
            .col-md-12
              .row
                .base-ttl 楽天GORAの「特別優待券プレゼントキャンペーン
                p 楽天GORAの「特別優待券プレゼントキャンペーン」ページはconcrete5化により運用フローの短縮化に成功した一例です。concrete5導入前の更新フローでは、各地域の複数の営業担当者がそれぞれ担当ゴルフ場キャンペーン詳細をエクセルに記入し、編成側の担当者がそれらを取りまとめページを更新していました。concrete5導入後は各地域の営業担当者たちがそれぞれconcrete5に直接更新情報をインプットすることができ、編成側は取りまとめ作業等なしにページの配信のみで更新作業を完了出来るようになりました。
            .col-md-12
              .row
                table.table
                  tbody
                    tr
                      th サービス名
                      td Gora
                    tr
                      th プロジェクト名
                      td Markdfkapkfpa
                    tr
                      th URL
                      td
                        a(href="http://gora.golf.rakuten.co.jp/")
                          | http://gora.golf.rakuten.co.jp/
                    tr
                      th 事業部名
                      td Gora
                    tr
                      th 導入にかかった時間
                      td Markdfkapkfpa
                    tr
                      th プロジェクト体制と役割
                      td BU側、CWD側
                    tr
                      th ページ数
                      td 120P
                    tr
                      th 更新頻度
                      td 月20本
                    tr
                      th 中間成果物の開示
                      td Markdfkapkfpa
                    tr
                      th 利用したプラグイン
                      td (RFF)/アドオン(concrete5)


          .col-md-3
            .menu
              ul.sidenav.nav
                li
                  a.active GORA
                li
                  a
                li
                  a Menu1
                li
                  a Menu1
                li
                  a Menu1
                li
                  a Menu1

include _footer2

